<!DOCTYPE html>
<html lang="en">

<head>

  <%- include layout/head %>

</head>

<body>

  <%- include layout/navigation %>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('/static/img/about.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">Huỳnh Anh Huy</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Dragon Ball (ドラゴンボール Doragon Bōru?) là một bộ truyện tranh nhiều tập được viết và vẽ minh họa bởi Toriyama
          Akira. Loạt truyện tranh bắt đầu xuất bản hàng tuần trong danh sách Shōnen từ năm 1984 đến 1995 với 519
          chương và sau đó được xuất bản trong 42 tập truyện dày bởi nhà xuất bản Shueisha. Tương phản với tiểu thuyết
          Tây du ký của Trung Quốc, loạt truyện mô tả cuộc hành trình của Son Goku từ lúc bé đến trưởng thành, qua các
          lần tầm sư học võ và khám phá thế giới để truy tìm các viên ngọc rồng với điều ước từ rồng thiêng. Xuyên suốt
          hành trình của Son Goku, cậu đã gặp được nhiều bạn bè và chống lại những kẻ hung ác có ý định dùng điều ước
          từ rồng thiêng để làm bá chủ thế giới.
          Nhà xuất bản Kim Đồng đã mua bản quyền xuất bản tại Việt Nam với bản quyền tên hiện tại là giữ nguyên tên gốc
          và có một tên phụ là 7 Viên Ngọc Rồng. Loạt truyện Dragon Ball được cho phép xuất bản với ngôn ngữ tiếng Anh
          tại Bắc Mĩ bởi công ty giải trí Viz Media, tại vương quốc Anh bởi nhà xuất bản Gollancz Manga, tại Úc và New
          Zealand bởi nhà xuất bản Sáng Nghệ. Loạt truyện Dragon Ball được phát hành với 3 loạt truyện, 17 phim hoạt
          hình, 3 chương trình truyền hình đặc biệt, 1 trò chơi điện tử máy cầm tay và một số lượng lớn video game.
          Trong năm 2008, hãng 20th Century Fox bắt đầu sản xuất bộ phim đầu tiên với người thật đóng dựa vào cốt
          truyện đã phát hành vào 8 tháng 4 năm 2009
        </p>

      </div>
    </div>
  </div>

  <hr>
  <%- include layout/footer %>

  <%- include layout/javascript %>



</body>

</html>