
<html lang="en">
<head>
    <title>Document</title>
    <link rel="stylesheet" type="text/css"  href="/static/Css/main.css">
</head>
<body>
    <h1>
        Welcome EJS Template Engine 
    </h1>
</body>
</html>

